body{
   background: url(./images/bg-header-desktop.png);
   background-repeat: no-repeat;
   height: 100vh;
   }



  .logo img{
    display: block;
    margin-left: auto;
    margin-right: auto;
   }